{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock  %}
{% block content %}
    <div class="container">
        <h1 class="text-center text-primary">{{pats.name}}</h1>
        <hr>
        <br>
        <table class="table">
            <thead>
              <tr class="text-primary">
                <th>No</th>
                <th>Doctor Name</th>
                <th>Doctor Specialization</th>
              </tr>
            </thead>
            <tbody>
                {% for d1 in pats.doctor.all() %}
                {% if pats.doctor.all() %}
                <tr class="text-success">
                    
                    <td>{{d1.id}}</td>
                    <td>{{d1.name}}</td>
                    <td>{{d1.specialization}}</td>
                  </tr>
                {% else %}
                <tr>
                <td>No Data</td>
                </tr>
                {% endif %}
                


              {% endfor %}
            </tbody>
          </table>
    </div>




       

{% endblock  %}